<section class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col col-1">
        <h4 class="footer__logo">
          <svg class="icon">
            <use xlink:href="../images/sprite.svg#droplet-fill"></use>
          </svg>
          Blood Bank
        </h4>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat,
          debitis! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Cumque natus voluptatibus tempore amet optio rerum, assumenda cum
          quaerat sed iste itaque tenetur quo vel! Officiis cupiditate, esse
          exercitationem necessitatibus pariatur tenetur ratione ad et facere
          iste quis quod itaque saepe!
        </p>
      </div>

      <div class="footer__col col-2 quick-links">
        <h4>Quick Links</h4>

        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
          <li><a href="#">Contact US</a></li>
        </ul>
      </div>
      <div class="footer__col col-3">
        <h4>Contact us</h4>
        <p>Washington, USA 6036 Richmond, hwy., Alexandria, VA, 2233</p>
        <p class="contact">Phone +1(409)987 5874 info@demolink.org</p>
      </div>
    </div>

    <div class="copyrights">
      <p>© 2021. All rights reserved</p>
    </div>
  </div>
</section>
