<meta charset="UTF-8" />
<title><%= title %></title>

<!-- CSS (load bootstrap from a CDN) -->

<link rel="stylesheet" href="../stylesheets/normalize.css" />
<link rel="stylesheet" href="../stylesheets/style.css" />
