<meta charset="UTF-8" />
<title><%= title %></title>

<!-- CSS (load bootstrap from a CDN) -->

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="../stylesheets/normalize.css" />
<link rel="stylesheet" href="../stylesheets/style.css" />
<link rel="stylesheet" href="../stylesheets/cards.css" />
