<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
  </head>
  <body>
    <%- include('../includes/homeNav'); %>

    <script src="../javascripts/mobileNav.js"></script>
  </body>
</html>
