<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>

    <style>
      header {
        display: grid;
        grid-template-areas: "hero";
        place-items: center;
        height: 60vh;
        max-height: 600px;
        background-color: rgba(45, 56, 63, 0.5);
        overflow: hidden;
      }
      header::before {
        content: "";
        grid-area: hero;
        place-self: start;
        width: 50vmin;
        height: 50vmin;
        border-radius: 50%;
        transform: translate(-10%, -10%);
        background-image: url("../public/images/donation.jpg");
      }
      header::after {
        content: "";
        grid-area: hero;
        place-self: end;
        width: 30vmin;
        height: 60vmin;
        transform: translate(20%, 40%) rotate(45deg);
        background-image: url("../public/images/donation.jpg");
      }
      header > * {
        grid-area: hero;
      }
      header img {
        -o-object-fit: cover;
        object-fit: cover;
        height: min(60vh, 600px);
        width: 100%;
        z-index: -1;
      }
      header .hero__content {
        z-index: 1;
        text-align: center;
        color: #fff;
        min-width: 30ch;
        padding: 1rem;
      }
      header .hero__content h1 {
        font-weight: 500;
        margin: 0 0 1rem;
      }
      header .hero__content p {
        font-size: 1.75rem;
      }

      .hero__content .btn-danger {
        background: red;
        color: white;
      }
    </style>
  </head>
  <body>
    <%- include('../includes/homeNav'); %>

    <header>
      <div class="hero__content">
        <h1>Save Life</h1>
        <h3>Donate Blood</h3>
        <a href="/auth/register" class="btn btn-danger">Register</a>
        <a href="/auth/login" class="btn btn-accent">Login</a>
      </div>
      <img src="./images/donation.jpg" alt="" />
    </header>

    <section class="content">
      <div class="container">
        <div class="row">
          <div class="col text-white">
            <img src="../images/blooddrop.png" alt="blooddrop" />
            <h4 class="text-title">Why Give Blood</h4>
            <a href="#" class="link">Read More</a>
          </div>
          <div class="col text-white">
            <img src="../images/blooddrop.png" alt="blooddrop" />
            <h4 class="text-title">Blood Donate</h4>
            <a href="#" class="link">Read More</a>
          </div>
          <div class="col text-white">
            <img src="../images/blooddrop.png" alt="blooddrop" />
            <h4 class="text-title">Tips for donation</h4>
            <a href="#" class="link">Read More</a>
          </div>
        </div>
      </div>
    </section>
    <section class="content-block">
      <div class="container">
        <div class="row">
          <div class="col col-content white">
            <h4 class="text-title">Home Layouts</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reprehenderit, assumenda.
            </p>
          </div>
          <div class="col col-content white">
            <h4 class="text-title">Home Layouts</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reprehenderit, assumenda.
            </p>
          </div>
          <div class="col col-content white">
            <h4 class="text-title">Home Layouts</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Reprehenderit, assumenda.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="container">
        <div class="footer__row">
          <div class="footer__col col-1">
            <h4 class="footer__logo">
              <svg class="icon">
                <use xlink:href="../images/sprite.svg#droplet-fill"></use>
              </svg>
              Blood Bank
            </h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat,
              debitis! Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Cumque natus voluptatibus tempore amet optio rerum, assumenda cum
              quaerat sed iste itaque tenetur quo vel! Officiis cupiditate, esse
              exercitationem necessitatibus pariatur tenetur ratione ad et
              facere iste quis quod itaque saepe!
            </p>
          </div>

          <div class="footer__col col-2 quick-links">
            <h4>Quick Links</h4>

            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Contact US</a></li>
            </ul>
          </div>
          <div class="footer__col col-3">
            <h4>Contact us</h4>
            <p>Washington, USA 6036 Richmond, hwy., Alexandria, VA, 2233</p>
            <p class="contact">Phone +1(409)987 5874 info@demolink.org</p>
          </div>
        </div>

        <div class="copyrights">
          <p>© 2021. All rights reserved</p>
        </div>
      </div>
    </section>

    <script src="../javascripts/mobileNav.js"></script>
  </body>
</html>
