<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <a href="/" class="logo">Blood Bank</a>
        <ul class="list">
          <li class="nav__item">
            <a href="#" class="btn btn-primary">Register</a>
          </li>
          <li class="nav__item">
            <a href="/auth/login" class="btn btn-primary">Login</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
