<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
  </head>
  <body>
    <%- include('../includes/homeNav'); %> <% if(loginError) {%> <%-
    include('../includes/notification',{className:"alert-danger",message:
    loginError}); %> <%} %>

    <section class="login">
      <div class="container">
        <div class="justify-center">
          <form action="/auth/login" method="POST" class="login-form">
            <h1>Login</h1>
            <div class="form-input-material">
              <input
                type="text"
                id="username"
                class="form-control-material"
                name="username"
                placeholder="Login"
                autocomplete="off"
                required
              />
              <label for="username">Username</label>
            </div>
            <div class="form-input-material">
              <input
                type="password"
                id="password"
                class="form-control-material"
                name="password"
                placeholder="Passsword"
                autocomplete="off"
                required
              />
              <label for="password">Password</label>
            </div>
            <button class="btn" type="submit">Login</button>
            <a href="#">forgot Password ?</a>
          </form>
        </div>
      </div>
    </section>
    <script src="../javascripts/mobileNav.js"></script>
  </body>
</html>
