<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
  </head>
  <body>
    <%- include('../includes/homeNav'); %>
    <section class="error">
      <div class="container">
        <div class="" style="width: 40%; margin: 0 auto; padding: 2rem 0">
          <% if(registerError) {%>
          <div class="alert alert-danger" style="padding: 2rem">
            <%= registerError %>
          </div>
          <%} if(registerSuccess) { %>
          <div class="alert alert-success" style="padding: 2rem">
            <%= registerSuccess %>
          </div>

          <% } %>
        </div>
      </div>
    </section>
    <section class="register">
      <div class="container">
        <div class="justify-center">
          <form action="/auth/register" method="POST" class="login-form">
            <h1>Registration</h1>
            <div style="display: flex; width: 100%; margin-bottom: 2rem">
              <label style="flex: 0 0 45%">Role </label>
              <div style="display: flex">
               
                <label for="donar" style="margin-left: 1rem">  <input
                  type="radio"
                  id="donar"
                  name="role"
                  value="donar"
                  style="margin-left: 1rem"
                  class="form-control-material"
                  onchange="check()"
                  required
                /> Donar </label
                ><br />
                
                <label for="receptor" style="margin-left: 1rem"> <input
                  type="radio"
                  id="receptor"
                  name="role"
                  value="receptor"
                  style="margin-left: 1rem"
                  class="form-control-material"
                  onchange="check()"
                  required
                /> Receptor</label
                ><br />
              </div>
            </div>
            <div style="display: flex">
              <div
                class="form-input-material"
                id="firstname-box"
                style="flex: 0 0 45%"
              >
                <input
                  type="text"
                  id="firstname"
                  class="form-control-material"
                  name="firstname"
                  placeholder="Name"
                  autocomplete="off"
                />
                <label for="firstname">First Name</label>
              </div>
              <div
                class="form-input-material"
                id="lastname-box"
                style="flex: 0 0 45%"
              >
                <input
                  type="text"
                  id="lastname"
                  class="form-control-material"
                  name="lastname"
                  placeholder="Last Name"
                  autocomplete="off"
                />
                <label for="lastname">Last Name</label>
              </div>
            </div>
            <div style="display: flex">
              <div class="form-input-material" style="flex: 0 0 50%">
                <input
                  type="text"
                  id="username"
                  class="form-control-material"
                  name="username"
                  placeholder="username"
                  autocomplete="off"
                  required
                />
                <label for="username" id="usernameLabel">User Name </label>
              </div>
              <div class="form-input-material">
                <input
                  type="text"
                  id="password"
                  class="form-control-material"
                  name="password"
                  placeholder="Password"
                  autocomplete="off"
                  required
                />
                <label for="password">Password</label>
              </div>
            </div>
            <div style="display: flex; width: 100%; margin: 2rem" id="gender">
              <label style="flex: 0 0 45%">Gender </label>
              <div style="display: flex">
               
                <label for="male" style="margin-left: 1rem"> <input
                  type="radio"
                  id="male"
                  name="gender"
                  value="male"
                  style="margin-left: 1rem"
                  class="form-control-material"
                  onchange="check()"
                  required
                /> Male </label
                ><br />
                
                <label for="female" style="margin-left: 1rem"><input
                  type="radio"
                  id="female"
                  name="gender"
                  value="female"
                  style="margin-left: 1rem"
                  class="form-control-material"
                  onchange="check()"
                  required
                />  Female</label
                ><br />
              </div>
            </div>
             
       
            <div style="display: flex">
              <div class="form-input-material" style="flex: 0 0 50%">
                <textarea
                  placeholder="This is an awesome comment box"
                 
                  name="address"
                  id="address"
                 
                  class="form-control-material"
                  autocomplete="off"
                  role="textbox"
                  aria-autocomplete="list"
                  aria-haspopup="true"
                ></textarea>
               
                </textarea>
                <label for="address">Address</label>
              </div>
              <div class="form-input-material">
                <input
                  type="text"
                  id="city"
                  class="form-control-material"
                  name="city"
                  placeholder="City"
                  autocomplete="off"
                  required
                />
                <label for="city">City</label>
              </div>
            </div>

            <div class="form-input-material">
              <input
                type="email"
                id="email"
                class="form-control-material"
                name="email"
                placeholder="Email"
                autocomplete="off"
                required
              />
              <label for="Email">Email</label>
            </div>

            <div style="display: flex">
              <div class="form-input-material" style="flex: 0 0 50%">
                <input
                  type="text"
                  id="countrycode"
                  class="form-control-material"
                  name="countrycode"
                  placeholder="Country Code"
                  autocomplete="off"
                  required
                />
                <label for="countrycode">Country Code</label>
              </div>
              <div class="form-input-material">
                <input
                  type="number"
                  id="contactno"
                  class="form-control-material"
                  name="contactno"
                  placeholder="Contact No"
                  autocomplete="off"
                  required
                />
                <label for="contactno">Contact No</label>
              </div>
            </div>
            <button class="btn" type="submit">Register</button>
            <a href="/auth/login"> Already Registered ! Login ?</a>
          </form>
        </div>
      </div>
    </section>
    <script src="../javascripts/mobileNav.js"></script>
    <script>
      var e = document.getElementById("donar");
      var element = document.getElementById("usernameLabel");
      console.log(document.getElementById("firstname").autofocus);
      document.getElementById("username").autofocus = false;
      function check() {
        if (e.checked) {
          element.innerHTML = "Blood Bank Name";
          document.getElementById("lastname-box").style = "display:none";

          document.getElementById("firstname-box").style = "display:none";
          document.getElementById("gender").style= "display:none";
          document.getElementById('male').required = false;
          document.getElementById('female').required = false;
          document.getElementById("firstname").required =false;
          document.getElementById("lastname").required = false;
        } else {
          element.innerHTML = "User Name";

          document.getElementById("lastname-box").style = "display:block";
          document.getElementById("firstname").required = true;
          document.getElementById("lastname").required = true;
          document.getElementById('male').required = true;
          document.getElementById('female').required = true;
          document.getElementById("gender").style= "display:flex;width:100%;margin:2rem";

          document.getElementById("firstname-box").style = "display:block";
        }
      }
    </script>
  </body>
</html>
