<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
  </head>
  <body>
    <%- include('./navbar') %>

  <% if(notify) {%>
  <section class="form-result">
    <div class="container">
      <div class="notification">
        <div class="center alert <%= notify=='Success' ? "alert-success" : 'alert-danger' %>">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#check-circle-fill"></use>
          </svg>
          <p class="message" id="message"><%= notify %></p>
        </div>
      </div>
    </div>
  </section>


  <% } %>

    <section class="add-blood">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h6 class="title justify-center">Add / Remove Blood</h6>
            <form
              class="search-form addBloodForm"
              method="POST"
              action="/addblood"
            >
              <div class="justify-center select-box">
                <P style="flex: 0 0 40%">Type</P>

                <div class="custom-select" style="flex: 0 0 60%">
                  <select class="type" name="type" id="select">
                    <option>Select Type</option>
                    <option value="add" id="add">Add Blood</option>
                    <option value="remove" id="remove">Remove Blood</option>
                  </select>
                </div>
              </div>
              <div class="justify-center select-box">
                <P style="flex: 0 0 40%">Blood Group</P>
                <div class="custom-select" style="flex: 0 0 60%">
                  <select class="group" name="group">
                    <option>Select Blood Group</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                  </select>
                </div>
              </div>

              <div class="form-input-material">
                <input
                  id="Units"
                  class="form-control-material"
                  type="number"
                  autofocus="false"
                  name="Units"
                  placeholder=""
                  autoComplete="off"
                  required
                />
                <label use="Units">Units</label>
              </div>
              <div class="justify-center">
                <button class="btn btn-accent center" id="submit-button">
                  Done
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="./javascripts/mobileNav.js"></script>
    <script src="./javascripts/selectBox.js"></script>
  </body>
</html>
