<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
  </head>

  <body>
    <%- include('./navbar') %>

    <section class="blood-donated">
      <div class="container">
        <div class="total-blood-donated">
          <div class="card">
            <div class="card-body card-blue">
              <h3>Total Blood Units available:</h3>
              <h1>14,500</h1>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h3>Total Blood Donated till Now:</h3>
              <h1>14,500</h1>
            </div>
          </div>
        </div>
        <div class="blood-donated-details">
          <div class="card">
            <div class="card-body">
              <table>
                <thead>
                  <tr>
                    <th scope="col">Message</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Donated blood to user: Chinna Namani, Units 100</td>
                    <td>Jan 12, 2012</td>
                  </tr>
                  <tr>
                    <td>Donated blood to user: Chinna Namani, Units 100</td>
                    <td>Jan 12, 2012</td>
                  </tr>
                  <tr>
                    <td>Donated blood to user: Chinna Namani, Units 100</td>
                    <td>Jan 12, 2012</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="./javascripts/mobileNav.js"></script>
  </body>
</html>
