<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
  </head>
  <body >
    <%- include('./navbar') %>

    <section class="profile">
      <div class="container">
        <div class="user-profile">
          <div class="card">
            <div class="card-body">
              <div>
                <img src="/images/avatar.png" />
              </div>
              <div>
                <h4>Username</h4>
                <p>Full Stack Developer</p>

                <button class="btn btn-accent">Edit</button>

                <button class="btn btn-primary">Delete</button>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div>Blood Donated Till Now</div>
              <div>
                <h1>500 units</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="user-details">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>First Name</h6>
                  </div>
                  <div class="user-text">Chinna</div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>Last Name</h6>
                  </div>
                  <div class="user-text">Namani</div>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>Email</h6>
                  </div>
                  <div class="user-text">namaninaresh1996@gmail.com</div>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>Address</h6>
                  </div>
                  <div class="user-text">
                    11-22-655,tialk road ,kashibuga ,wraangak
                  </div>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>City</h6>
                  </div>
                  <div class="user-text">Warangal</div>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="d-flex">
                  <div class="user-title">
                    <h6>Contact No</h6>
                  </div>
                  <div class="user-text">+91 8686506505</div>
                </div>
              </div>

              <hr />
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div class="header">
                <h6>Available Blood In your Bank</h6>
              </div>
              <hr />
              <div class="grid--4">
                <div class="blood-groud">
                  <div class="blood-group--header">
                    <h3>AB+</h3>
                  </div>
                  <div class="blood-group--body">
                    <h2 class="units">AB+</h2>
                    <p class="units-text">Units</p>
                  </div>
                </div>
                <div class="blood-groud">
                  <div class="blood-group--header">
                    <h3>AB+</h3>
                  </div>
                  <div class="blood-group--body">
                    <h2 class="units">AB+</h2>
                    <p class="units-text">Units</p>
                  </div>
                </div>
                <div class="blood-groud">
                  <div class="blood-group--header">
                    <h3>AB+</h3>
                  </div>
                  <div class="blood-group--body">
                    <h2 class="units">AB+</h2>
                    <p class="units-text">Units</p>
                  </div>
                </div>
                <div class="blood-groud">
                  <div class="blood-group--header">
                    <h3>AB+</h3>
                  </div>
                  <div class="blood-group--body">
                    <h2 class="units">AB+</h2>
                    <p class="units-text">Units</p>
                  </div>
                </div>
                <div class="blood-groud">
                  <div class="blood-group--header">
                    <h3>AB+</h3>
                  </div>
                  <div class="blood-group--body">
                    <h2 class="units">AB+</h2>
                    <p class="units-text">Units</p>
                  </div>
                </div>
                <div class="blood-groud">
                  <div class="blood-group--header">
                    <h3>AB+</h3>
                  </div>
                  <div class="blood-group--body">
                    <h2 class="units">AB+</h2>
                    <p class="units-text">Units</p>
                  </div>
                </div>
                <div class="blood-groud">
                  <div class="blood-group--header">
                    <h3>AB+</h3>
                  </div>
                  <div class="blood-group--body">
                    <h2 class="units">AB+</h2>
                    <p class="units-text">Units</p>
                  </div>
                </div>
                <div class="blood-groud">
                  <div class="blood-group--header">
                    <h3>AB+</h3>
                  </div>
                  <div class="blood-group--body">
                    <h2 class="units">AB+</h2>
                    <p class="units-text">Units</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
