<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../header'); %>
  </head>

  <body>
    <%- include('./navbar') %>

    <section class="requests">
      <div class="container">
        <div class="new-requests">
          <div class="card">
            <div class="card-body">
              <h5>New Requests :</h5>

              <div></div>
            </div>
          </div>
        </div>
        <div class="acccepted-requests">
          <div class="card">
            <div class="card-body">Accepted Requests</div>
          </div>
        </div>
      </div>
    </section>

    <script src="./javascripts/mobileNav.js"></script>
  </body>
</html>
